root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.cs]
indent_style = tab
indent_size = 4

# ReSharper properties
resharper_csharp_max_line_length = 200
